a{
    color: gold;
   
}
.Heading{
    background-color: blueviolet;
    text-align: center;
    background-color: blueviolet;
    border: solid white 5px;
    margin: 1%;
}
html{
    background-color: black;
}
img{
    border: solid gold 5px;
    width: 25%;
    height: 25%;
    padding:1%;
}
.paragraph{
    color: azure;
}
.text{
    color: aliceblue;
}
img{
    display: inline-block;
    float: left;
}
p{
    font-size: 2rem;
}
.text{
    clear: both;
}
#bobbydeol{
    clear: both;
}
.cast>img{
    border: solid gold 10px;
}
.cast>h1{
    font-size: 5rem;
    color: gold;
}
.cast> div{
    position: relative;
    top: 100px;
}
.cast> div>div{
    position: relative;
    top: 100px;
}
